<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-8" style="width:800px; margin:0 auto;">
      <div class="card card-plain">
        <div class="card-header card-header-danger">
          <h4 class="card-title mt-0"> Login </h4>

        </div>
        <div class="card-body">
          <form novalidate [formGroup]="loginUserForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-md-5">
                <input formControlName="email" placeholder=" Email..." type="email">
              </div>
              <div class="col-md-5">
                <input formControlName="password" placeholder=" Password..." type="password">
              </div>

              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
