<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-8" style="width:800px; margin:0 auto;">
      <div class="card card-plain">
        <div class="card-header card-header-danger">
          <h4 class="card-title mt-0"> Update Account </h4>
        </div>
        <div class="card-body">
          <form>
            <div>
              <div class="col-md-4 row">
                <input placeholder=" First Name..." type="text">
              </div><br>
              <div class="col-md-4 row">
                <input placeholder=" Last Name..." type="text">
              </div><br>
              <div class="col-md-4 row">
                <!-- file input, accepts images only. Detect when file has been picked/changed with Angular's native (change) event listener -->
                <input type="file" accept="image/*" (change)="updateSource($event)">

                <!-- img placeholder when a file has been picked. shows only when 'source' is not empty -->
                <img *ngIf="source" [src]="source" src="" width="128" height="128">
              </div><br>

              <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
